
:root {
    --primary-color: #2ecc71;
    --accent-color: #ffd700;
    --bg-light: #fafefc;
    --sidebar-dark: #0a301a;
}

body {
    background-color: var(--bg-light);
    font-family: 'Inter', sans-serif;
}

.sidebar {
    background-color: var(--sidebar-dark);
    color: white;
    transition: all 0.3s;
    box-shadow: 4px 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
}


.sidebar .nav-link {
    color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    margin-bottom: 5px;
    transition: all 0.2s;
}

.sidebar .nav-link:hover {
    background: rgba(46, 204, 113, 0.15);
    color: var(--primary-color);
}

.sidebar .nav-link.active {
    background: var(--primary-color) !important;
    color: white !important;
    font-weight: 600;
}

/* Navbar Title */
.navbar_title {
    background: white;
    border-left: 5px solid var(--primary-color);
    border-radius: 10px;
}

/* Dashboard Cards */
.card {
    border: none;
    border-radius: 12px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-3px);
}

.text-bg-primary { background-color: #27ae60 !important; } /* Custom UA Green */
.text-bg-success { background-color: #16a085 !important; }
.text-bg-danger { background-color: #e74c3c !important; }

/* Activity Feed Scrollbar */
.overflow-auto::-webkit-scrollbar {
    width: 6px;
}
.overflow-auto::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}


.card-body.overflow-auto {
    scrollbar-width: thin;
}
.card-body.overflow-auto::-webkit-scrollbar {
    width: 6px;
}
.card-body.overflow-auto::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

#mainContent {
    background: 
    linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7)),
    url('../images/ua1.png') no-repeat center center;
    background-size: contain;
    margin-left: 0;
}

.report_header{
    color: var(--text-color);
}



@media (max-width: 991.98px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        z-index: 1030;
        transition: all 0.3s;
    }
    .sidebar.show {
        left: 0;
    }
    .overlay {
        display: none;
    }
    .overlay.show {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 1020;
    }

    #modal-qr-container{
        width: 50%;
    }
}